{% extends 'base.html' %}

{% block content %}

    <a href="{{ base_path }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour à la page d'accueil</a>
    <br>
    <a class="btn btn-primary" href="{{ base_path ~ '/animal/create' }}">Créer un animal</a>


    <h1>Liste des animaux</h1>

    {% for animal in animaux %}
        <div class="alert alert-secondary">
            
            <a href="{{ base_path ~ '/animal/' ~ animal.id }}">
                {{ animal.species }} (origine: {{ animal.country }})
            </a>
        </div>
    {% endfor %}

{% endblock %}